:root{
    --color-primario:#FA7436;
    --color-secundario:black;
    --color-fondo: #fbfefb;
}

html{       
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}


    
*, *:before, *:after {
    box-sizing: inherit;
}


body{
    max-width: 130rem;
    margin: auto;
    font-size: medium;
    background-color: var(--color-fondo);
    
}

/*-------------------------------------------------------------------------------------------------*/



.encabezado{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    align-items: center;
    margin: 2rem 0;
}

.menu{

  align-items: center;

 a{
    text-decoration: none;
    color: black;
    
    font-weight: 400;
    padding: 0rem 1rem;

 }

 margin-left: 15rem ;
 margin-right: 5rem;


}


.login{ 

    border: none;
    background-color: white;
    color: var(--color-primario);
    font-weight: 600;
    
}

.sign{

    color: white;
    background-color: var(--color-primario);
    text-align: center;
    border-radius: 1rem;
    height: 5rem;
    width: 15rem;
    border: none;
    font-weight: 600;
    -webkit-box-shadow: 0px 10px 21px 0px rgba(250,116,54,0.7);
-moz-box-shadow: 0px 10px 21px 0px rgba(250,116,54,0.7);
box-shadow: 0px 10px 21px 0px rgba(250,116,54,0.7);

}

.Started{

    display: grid;
    margin: 4rem 0;

    grid-template-areas: 
    
                "titulo imagen"
                "texto imagen"
                "boton imagen";

    
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;


}

.tituloStarted{

    grid-area: titulo;
    font-size: 6rem;
    color: black;
    font-weight: 650;
     span{
        color: var(--color-primario);
     }
}

.textoStarted{

    grid-area: texto;
    font-size: 3rem;
    opacity: 0.7;

}

.botonStarted{

    grid-area: boton;
    border-color: var(--color-primario);
    border-style: solid;
    width: 18rem;
    height: 5rem;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    background-color: white;
    color: var(--color-primario);
}

.imagenStarted{

    grid-area: imagen;
    overflow: hidden;
    


}

.FloatingBox1, .FloatingBox2, .FloatingBox3{

display: grid;
border-radius: 1rem;
background-color: white;
z-index: 1;

width: 20rem;
padding: 1rem;

-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
    
grid-template-areas: "icono titulo"
                     "icono texto";
grid-template-columns: 1fr 3fr;

svg{grid-area: icono;}



}

.Explore{

   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    max-width: 100rem;
    background-color: white;
    border: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
    padding: 5rem 5rem;

    z-index: 0;
   
}

.FloatingBox1{

position: absolute;

top: 22rem;
right: 76rem;

}

.FloatingBox2{

position: absolute;
top: 30rem;
right: 45rem;


}


.FloatingBox3{

position: absolute;
top: 48rem;
right: 69rem;


}


.TituloExplore{

h3{

    font-weight: 700;

}

}

.botonExplore{

    border-radius: 1rem;
    background-color: var(--color-primario);
    border: none;
    color: white;
    font-size: large;
    width: 18rem;
    height: 7rem;
}

#titulo2-1, #titulo3-1{
    color:var(--color-secundario);
}
#titulo2-2, #titulo3-2{
    color:var(--color-primario);
}
#titulo{
    font-size: 4vh;
}
#parrafo{
    font-size: 1.7vh;
    opacity: 0.7;
}
#titulo2{
    text-align: center;
    margin: 9vh 0;
}
#titulo2div, #titulo3div{
    margin-bottom: 2vh;
}
#parrafo2, #parrafo3{
    width:400px;
}
#img-card2{
    width: 3vh;
    height: 3vh;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    margin-left: 1.5rem;
}
#card2{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 20vh;
    height: 18vh;
}
#col2{
    width: 20px;
    margin: auto;
}
#card2title{
    font-size: 1.8vh;
}
#card2par{
    font-size: 1vh;
}
#card3{
    width: 28vh;
    height: 45vh;
    img{
        height: 290px;
    }
}
#titulocard3{
    font-size: 24px;
}
#estrella-card3{
    text-align: right;
    margin-top: 2px;
    margin-right: -2px;
    svg{
        color:rgba(253, 198, 16, 0.945);
    }
}
#calificacion-card3{
    text-align: right;
    margin-right: 5px;
    color: #666666;
    font-size: 16px;
    margin-top: 5px;
}
#toptext-card3{
    margin-top: 2vh;
}
#bottomtext-card3{
    font-size: 16px;
    margin:auto;
    margin-top: -2vh;
}
#location-card3{
    text-align: left;
    padding:0;
    margin-top:-3px;
    color:#999999;
}
#country-card3{
    padding:0;
    color:#666666;
}
#newprice-card3{
    text-align: right;
    color: var(--color-primario);
}
#oldprice-card3{
    color:#999999;
}
#newpricediv-card3{
    text-align: center;
    background-color: #FFE7DB;
}
.tarjetas3{
    margin-bottom: 5rem;
}