:root{
    --color-primario:rgb(255, 123, 0);
    --color-secundario:black;
    --color-fondo: #fbfefb;
}

html{       
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
}


    
*, *:before, *:after {
    box-sizing: inherit;
}


body{
    max-width: 130rem;
    margin: auto;
    font-size: medium;
    background-color: var(--color-fondo);
    
}

/*-------------------------------------------------------------------------------------------------*/



.encabezado{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    align-items: center;
    margin: 2rem 0;
}

.menu{

  align-items: center;

 a{
    text-decoration: none;
    color: black;
    
    font-weight: 400;
    padding: 0rem 1rem;

 }

 margin-left: 15rem ;
 margin-right: 5rem;


}


.login{ 

    border: none;
    background-color: white;
    color: var(--color-primario);
    font-weight: 600;
    
}

.sign{

    color: white;
    background-color: var(--color-primario);
    text-align: center;
    border-radius: 1rem;
    height: 5rem;
    width: 15rem;
    border: none;
    font-weight: 600;

}

.Started{

    display: grid;
    margin: 4rem 0;

    grid-template-areas: 
    
                "titulo imagen"
                "texto imagen"
                "boton imagen";

    
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;


}

.tituloStarted{

    grid-area: titulo;
    font-size: 6rem;
    color: black;
    font-weight: 650;
     span{
        color: var(--color-primario);
     }
}

.textoStarted{

    grid-area: texto;
    font-size: 3rem;
    opacity: 0.7;

}

.botonStarted{

    grid-area: boton;
    border-color: var(--color-primario);
    border-style: solid;
    width: 18rem;
    height: 5rem;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    background-color: white;
    color: var(--color-primario);
}

.imagenStarted{

    grid-area: imagen;
    overflow: hidden;


}

.Explore{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    max-width: 100rem;
    background-color: white;
    border: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.04);
    padding: 5rem 5rem;
   
}


.TituloExplore{

h3{

    font-weight: 700;

}

}

.botonExplore{

    border-radius: 1rem;
    background-color: var(--color-primario);
    border: none;
    color: white;
    font-size: large;
    width: 18rem;
    height: 7rem;
}

#titulo2-1, #titulo3-1{
    color:var(--color-secundario);
}
#titulo2-2, #titulo3-2{
    color:var(--color-primario);
}
#titulo{
    font-size: 4vh;
}
#parrafo{
    font-size: 1.7vh;
    opacity: 0.7;
}
#titulo2{
    text-align: center;
    margin: 9vh 0;
}
#titulo2div, #titulo3div{
    margin-bottom: 2vh;
}
#parrafo2, #parrafo3{
    width:400px;
}
#img-card2{
    width: 3vh;
    height: 3vh;
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    margin-left: 1.5rem;
}
#card2{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 20vh;
    height: 18vh;
}
#col2{
    width: 20px;
    margin: auto;
}

#card2title{
    font-size: 1.8vh;
}
#card2par{
    font-size: 1vh;
}
#estrella-card3{
    text-align: right;
}
#calificacion-card3{
    text-align: right;
}
#bottomtext-card3{
    font-size: 16px;
}