@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.btEnviar{
  position: absolute;
  top: 3rem;
  right: -12rem;
  width: 18rem;
  height: 3rem;
}

.btModificar{
  position: absolute;
  top: 3rem;
  right: -32rem;
  width: 18rem;
  height: 3rem;
}
.btVolPer{
  position: absolute;
  top: 3rem;
  right: -44rem;
  width: 18rem;
  height: 3rem;
}

.btVolBus{
  position: absolute;
  top: 3rem;
  right: -40rem;
  width: 18rem;
  height: 3rem;
}

.cajaTexto{
    width: 16rem;
    .MuiInputLabel-outlined{
        color: rgb(0, 0, 0);
        border-color: aqua;
    }
     .Mui-readOnly {
        color: rgb(231, 17, 185);
     }
     .MuiInputBase-formControl{
      color: rgb(226, 22, 73);
     }
}
.PFoto{
  grid-area:foto;
  width: 15rem;
  height: 20rem;
   border-radius: 25%;
  overflow: hidden;
  img{width: 100%;
  height: auto;}
}
.Pnombre{ grid-area: nombre;}
.Papellido{grid-area: apellido;}
.PID{ grid-area: id;}
.Pequipo{grid-area: equipo;}
.Psupervisor{grid-area:supervisor}
.Pcargo{grid-area:cargo}
.Psede{grid-area:sede}
.Pnumero{grid-area: numero;}
.Pcorreo{grid-area: correo; width: 40rem;}

.perfil , .modificarPerfil{
  position: relative;
  background-image:  linear-gradient(rgba(255, 255, 255, 0.432), rgba(211, 212, 228, 0.5)), url('/public/texturaPerfil.png');
  width: 97rem;
  margin: 5rem 2rem;
  border-style: solid;
  border-color: rgb(75, 85, 85);
  border-width: 0.2rem;
  border-radius: 6rem;
  row-gap: 5rem;
  padding: 10rem;
  align-items: center;
  justify-items: center;}

  .perfil{
  display: grid;
  background-color: rgba(252, 252, 252, 0.774);
  grid-template-areas:
  "foto nombre apellido id"
  "foto equipo sede supervisor"
  "cargo numero correo correo";
  ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modificarPerfil{
  display: grid;
  background-color: rgba(252, 252, 252, 0.774);
  grid-template-areas:
  "nombre apellido id"
  "sede supervisor nada"
  "form form form"
  "form form form";
  ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.Mnombre{ grid-area: nombre;}
.Mapellido{grid-area: apellido;}
.MID{ grid-area: id;}
.Msupervisor{grid-area:supervisor}
.Msede{grid-area:sede}

.ModForm{grid-area: form; 
        display: grid;
        width: 50rem;
        height: 20rem;
       grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;}
.Mequipo{ width: 16rem;}
.Mcargo{ width: 16rem;}
.Mcorreo{ width: 40rem;}



.Bcargo{
  grid-area: cargo;}
#container {
  max-width: 100%;
  margin: 0 auto;
}

.BFoto{
    grid-area: logo;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.Bnombre{
  grid-area: nombre;
  font-weight: 800;
  font-size: 3.6rem;
}

.Bcedula{
  grid-area: cedula;
  span{
    font-weight: 700;
  }
}

.Bboton{grid-area: boton;}

.contenedor {
  display: grid;
  width: 87%;
  grid-template-areas:
    "logo nombre nombre boton"
    "logo cargo cedula boton";
  ;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  margin: 1rem 2rem;
  padding: 1rem;
  height: 10rem;
  border-radius: 0.5rem;
  border-color: lightgray;
  border-style: solid;
  border-width: 0.1rem;
  background-color: white;
  align-items: center;
}

.Bboton{
  height: 4rem;
  width: 8rem;
}
.ListaEntera {
  background-color: #eef1f3;
  padding: 1rem;
  top: 1rem;
  margin-left: 5.625rem;
  section:hover {
    background-color: rgb(4, 142, 255);
    -webkit-box-shadow: 0px 0.8rem 0.8rem 0.4rem rgba(28, 60, 243, 0.36);
    -moz-box-shadow: 0px 0.8rem 0.8rem 0.4rem rgba(28, 60, 243, 0.36);
    box-shadow: 0px 0.8rem 0.8rem 0.4rem rgba(28, 60, 243, 0.36);
    cursor: pointer;
    .BFoto, .Bcargo, .Bnombre, .Bcedula{
      color: aliceblue;
    }

    .Bboton{
      background-color:  rgb(44, 151, 44);
      color: darkslategrey;
    }
  }
}

.slidebar {
  float: left;
  height: 200vh;
  margin-right: 2rem;  
  justify-content: center;
  border-radius: 5px;
  padding: 0.313rem;
  background-color: white;
  background-position: top;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 98px 39px 158px -41px rgba(189, 189, 189, 0.45);
}

#cont_tittle {
  height: 2.5rem;
  margin-left: 0.1rem;
}

#tele {
  position: absolute;
  border-radius: 10px;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: .75rem;
}

.tittle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-top: .7rem;
  color: #048EFF;
  opacity: 0%;
  transition: all 1s;
}
.tittle.active {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-top: .7rem;
  color: #048EFF;
  opacity: 100%;
  transition: all 1s;
}

.cont_items {
  width: 80px;
}

.cont_items.active {
  width: 260px;
}

.box_items {
  margin-bottom: 5px;
  width: 8rem;
  height: 4rem;
  position: static;
  align-items: center;
  justify-content: center;
}

.iconsize {
  margin-bottom: 12px;
  font-size: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 3rem;
  color: gray;
}

.iconitos{
  margin-left: 1.1rem;
}

.nombres{ 
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0rem;
  opacity: 0%;
  margin-left: 3rem;
  margin-top: -1.2rem;
  display: flex;
  align-items: center;
  position: absolute;
  visibility: hidden;
  transition: all 1s;
}

.nombres.active{ 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .9rem;
    margin-left: 4rem;
    opacity: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    visibility: visible;
}

.colum_opc{
  width: 100%;
  column-count: 2;
  column-width: 50%;
  
}

#arrow {
  position: fixed;
  font-size: 25px;
  color: #048EFF;
  cursor: pointer;
}

.l_colum{
  columns: 2;
}

.l_cont{
  background-image: url("../public/bg-login.png");
  background-size: cover;  
  background-repeat: no-repeat;
  height: 100vh;
}