@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.cajaTexto{

    width: 10rem;
    

}
.PFoto{grid-area:foto; width: 5rem; height: 5rem;}
.Pnombre{ grid-area: nombre;}
.Papellido{grid-area: apellido;}
.PID{ grid-area: id;}
.Pequipo{grid-area: equipo;}
.Psupervisor{grid-area:supervisor}
.Pcargo{grid-area:cargo}
.Psede{grid-area:sede}

.perfil{

  width: 70rem;
  margin: 5rem 10rem;
  row-gap: 2rem;
  padding: 10rem;
  align-items: center;
  justify-items: center;

  display: grid;

  background-color: rgba(252, 252, 252, 0.774);

  grid-template-areas:



  "foto nombre apellido id"
  "equipo sede supervisor cargo";
  ;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.contenedorMenu{

  display: grid;

  grid-template-columns: 10% 90%;

}

.Bcargo{

  grid-area: cargo;}

#container {
  max-width: 100%;
  margin: 0 auto;
}

.BFoto{

  

    grid-area: logo;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  
  

}

.Bnombre{

  grid-area: nombre;
  font-weight: 800;
  font-size: 3.6rem;
}

.Bcedula{

  grid-area: cedula;
  span{

    font-weight: 700;

  }
}

.Bboton{grid-area: boton;}



.contenedor {

  display: grid;
  width: 90%;
  grid-template-areas:

    "logo nombre nombre boton"
    "logo cargo cedula boton";
  ;

  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr;

 
  margin: 1rem 2rem;
  padding: 1rem;
  height: 10rem;
  border-radius: 0.5rem;


  border-color: lightgray;
  border-style: solid;
  border-width: 0.1rem;
  background-color: white;
  align-items: center;


}

.Bboton{

  height: 4rem;
  width: 8rem;

}

.ListaEntera {

  background-color: #eef1f3;
  padding: 1rem;
  top: 1rem;
  margin-left: 5.625rem;

  section:hover {

    background-color: rgb(4, 142, 255);
    -webkit-box-shadow: 0px 0.8rem 0.8rem 0.4rem rgba(28, 60, 243, 0.36);
    -moz-box-shadow: 0px 0.8rem 0.8rem 0.4rem rgba(28, 60, 243, 0.36);
    box-shadow: 0px 0.8rem 0.8rem 0.4rem rgba(28, 60, 243, 0.36);

    cursor: pointer;

    .BFoto, .Bcargo, .Bnombre, .Bcedula{

      color: aliceblue;

    }
    .Bboton{

      background-color:  rgb(44, 151, 44);
      color: darkslategrey;
      
    }


  }

}


/* Menu - css */


/* .slidebar {

  float: left;
  width: 90px;
  height: 100vh;
  justify-content: center;
  border-radius: 5px;
  padding: 0.313rem;
  background-color: white;
  background-position: top;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 98px 39px 158px -41px rgba(112,112,112,0.45);
} */
.slidebar {

  float: left;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  border-radius: 5px;
  padding: 0.313rem;
  background-color: white;
  /* margin-top: -4.375rem; */
  background-position: top;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 98px 39px 158px -41px rgba(112,112,112,0.45);
}

#imagencita {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  margin-left: 0.1rem;

}

#tele {
  position: absolute;
  border-radius: 10px;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: .75rem;
}

.letrita {
  font-family: "Poetsen One", sans-serif;
  font-weight: 100;
  font-size: 0rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-top: .7rem;
  color: black;
  opacity: 0%;
  transition: all 1s;
}
.letrita.active {
  font-family: "Poetsen One", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-top: .7rem;
  color: black;
  opacity: 100%;
  transition: opacity 3s;
}

.cont_items {
  width: 80px;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  transition: all 1s;

}

.cont_items.active {
  width: 190px;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  transition: all 1s;
}

.box_items {
  margin-bottom: 5px;
  width: 8rem;
  position: static;
  align-items: center;
  justify-content: center;
}

.iconsize {
  margin-bottom: 12px;
  font-size: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.iconsize.active {
  margin-bottom: 12px;
  font-size: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.iconitos{
  margin-left: 1.1rem;
}
.palabrita{
  display: flex;
  justify-content: start;
  h6 { 
  font-family: "Poetsen One", sans-serif;
  font-weight: 100;
  }
}

.columnitas{
  width: 100%;
  column-count: 2;
  column-width: 50%;
}

.nombreslide {
  font-size: 0rem;
  transition: all 1s;
}

.nombreslide.active {
  font-size: 0.656rem;
  /* margin-top: 5px;
  margin-left: 10px; */
  transition: all 1s;
}

.boton {
  padding: .5rem .1rem !important;
  margin: 5px;
  width: 100%;
  border: none;
  margin-bottom: 15px;
  transition: all 1s;
}

.boton.active {
  padding: .5rem .1rem !important;
  margin: 5px;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background: none;
  transition: all 1.5s;
}

.boton:hover {
  background: rgba(111, 202, 255, .53333);
  transition: background-color 0.5s;
}

.boton.active:hover {
  background: rgba(111, 202, 255, .53333);
  transition: background-color .5s;
}


#flechita {
  position: fixed;
  font-size: 25px;
  color: #3a8ced;
  cursor: pointer;
}
#flechita:hover{
    transform: rotate(180deg);
}