

html {
  box-sizing: border-box;
  
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montserrat","Roboto",sans-serif;
  font-weight: 400;
  
}

.nombreCSS, .beneficiosCSS, .disponibleCSS, .habilidadesCSS, .tituloPuestoCSS, .ubicacionCSS, .salarioCSS{

display: flex;
align-items: center;
gap: 0.5rem

}

.logoCSS{

    grid-area: logo;
    width: 5rem;
    height: 5rem;

}

.tituloPuestoCSS{

  grid-area: titulo;
  font-size: 1.5rem;
  font-weight: 600;
  

}

.habilidadesCSS{

  grid-area: habilidades;

}

.nombreCSS{

  grid-area: nombre;

}

.ubicacionCSS{

  grid-area: ubicacion;

}

.salarioCSS{

  grid-area: salario;

}

.disponibleCSS{

  grid-area: disponible;
}

.beneficiosCSS{

  grid-area: beneficio;
}


.contenedor{

  display: grid;
  grid-template-areas: 
  
        "logo titulo titulo habilidades habilidades vacio"
        "logo nombre ubicacion salario disponible beneficio";
  ;

  grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  margin: 2rem 2rem;
  padding: 1rem;
  height: 8rem;
  border-radius: 0.5rem;
  
  
  border-color: rgb(0, 0, 0);
  background-color: white;


}

.ListaEntera{

  background-color: #eef1f3;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  top: 2rem;
  margin-left: 5.625rem;

  section:hover { 

    -webkit-box-shadow: 0px 1rem 1rem 0.5rem rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 1rem 1rem 0.5rem rgba(0,0,0,0.36);
    box-shadow: 0px 1rem 1rem 0.5rem rgba(0,0,0,0.36);


  }

}



/*----------------------------HEADERS------------------------- */
.HeaderNav {
  width: 90%;
  height: 5rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 16px #f8f9fa;
  z-index: 100;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  float: right;
  
  #icono-persona, #perfil-nombre, #icono-gema, #valor-gema{
    position: relative;
  }
  #perfil{
    background-color: pink;
  }
  #fullNav {
    max-width: 1520px;
    margin-inline: 1.5rem;
    align-content: end;
    float: right;
    margin: 0;

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    .container {
      max-width: 1120px;
      margin-inline: auto;
    }

    .nav {
      height: 3.5rem;
      height: calc(5.5rem);
      display: flex;
      justify-content: space-between;
    }

    .nav__link {
      color: black;
      background-color: #f8f9fa;
      padding: 1.25rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color .3s;
      height: 5rem;
    }

    .nav__link:hover {
      background-color: transparent;
    }

    .dropdown__item {
      cursor: pointer;
      position: relative;
    }

    .dropdown__arrow {
      font-size: 1.25rem;
      font-weight: initial;
      transition: transform .4s;
    }

    .dropdown__link {
      padding: 0.25rem 0.25rem 0.25rem 1.5rem;
      padding-inline: 1rem 3.5rem;
      color: black;
      background-color: #f8f9fa;
      width: 17rem;
      display: flex;
      align-items: center;
      column-gap: .5rem;
      transition: background-color .3s;

      i {
        font-size: 1.25rem;
        font-weight: initial;
      }
    }

    .dropdown__sublink:hover {
      background-color: #f8f9fa;
    }

    .dropdown__menu {
      max-height: initial;
      overflow: initial;
      position: absolute;
      left: 0;
      top: 6rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s, top .3s;
    }

    .dropdown__item:hover .dropdown__menu {
      opacity: 1;
      top: 5.5rem;
      pointer-events: initial;
      transition: top .3s;
    }

    .dropdown__item:hover .dropdown__arrow {
      transform: rotate(180deg);
    }

    .nav__list {
      height: 100%;
      display: flex;
      column-gap: 3rem;
    }
    svg{
      font-size: 120%;
    }
    #btn_espanol span{
      padding-left: 0.4rem;
      color: black;
    }
    svg{
      color: black;
    }
    #btn_campana{
      border-color: black;
      border-width: 0.1rem;
      border-style: solid;
      border-radius: 5px;
    }

  }
}
/*----------------------------SlideBar------------------------- */

.slidebar{
  float: left;
  position: fixed;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.313rem;
}
#imagencita{
  left: 0px;
  margin: auto;
  text-align: center;
  img{
  width: 3.75rem;
  height: 3.75rem;
  }
}
#letrita{
  color: #727272;
  margin-top: -15px;
  font-family: "Montserrat",bold;
  font-weight: 500;
  font-size: 20px;
}
.cont_items{
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.box_items{
 
  align-items: center;
  justify-content: center;  
}
.iconsize{
  margin-bottom: 5px;
  font-size: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nombreslide{
  font-size: 0.656rem;
}
.boton{
  padding: .5rem .1rem!important;
  margin: 5px;
  width: 100%;
}
